@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Danh sách post</h4>
                <p class="card-category"></p>
            </div>
            <div ng-controller="Post">
                
                <div class="card-body">
                    <label for="singleSelect"> sắp xếp:{{tenmua.id}} </label><br>
                    <select class="form-control col-1" name="singleSelect" ng-model="sort" ng-change="change()">
                        <option value="1">Mua</option>
                        <option value="2">Bán</option>
                        <option value="3">Đang xử lý</option>
                    </select>
                    <div class="table-responsive">
                        <table class="table" ng-hide="sort==3">
                            <thead class=" text-primary">
                                <tr>
                                    <th> Tên Sản Phẩm</th>
                                    <th> Size(VN)</th>
                                    <th> Thời gian giao dịch</th>
                                    <th>
                                        Giá
                                    </th>
                                    <th>
                                        Tên người khách hàng
                                    </th>
                                    <th>
                                        Hình thức giao dịch
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in name | filter: {post: {kind: sort}}">
                                    <td>{{x.nameItem}}</td>
                                    <td>{{x.size}}</td>
                                    <td>{{x.post.date_start}}</td>
                                    <td>{{x.post.price}}</td>
                                    <td>{{x.usernameSell}}</td>
                                    <td>
                                        <span ng-if="x.post.kind == 1">Mua</span>
                                        <span ng-if="x.post.kind == 2">Bán</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table" ng-show="sort==3">
                            <thead class=" text-primary">
                                <tr>
                                    <th> Tên Sản Phẩm</th>
                                    <th> Size(VN)</th>
                                    <th> Thời gian giao dịch</th>
                                    <th>
                                        Giá
                                    </th>
                                    <th>
                                        Tên người mua
                                    </th>
                                    <th>
                                        Tên người bán
                                    </th>
                                    <th>
                                        Hình thức giao dịch
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="z in nameOrder ">
                                    <td>{{z.nameItem}}</td>
                                    <td>{{z.size}}</td>
                                    <td>{{z.post.date_start}}</td>
                                    <td>{{z.post.price}}</td>
                                    <td>{{z.usernameSell}}</td>
                                    <td>
                                        <span ng-repeat="a in tenmua">
                                            <span ng-if="z.order.id_user == a.id">{{a.name}}</span>
                                        </span>
                                    </td>

                                    <td>
                                        <span>Đang xử lý</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        app.controller('Post', function ($scope, $http) {
            $scope.sort = "1";

            $http.get("/api/PostsAPI/GetPostsSell")
                .then(function (res) {
                    $scope.nameOrder = res.data;
                });
           
            $http.get("/api/PostsAPI/GetNameBuy")
                .then(function (rp) { $scope.tenmua = rp.data;  });
            $http.get("/api/PostsAPI")
                .then(function (response) { $scope.name = response.data; });

        });
    </script>
}
