@model IEnumerable<Exaxxi.ViewModels.PostViewAdmin>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div ng-controller="Post">
    <label for="singleSelect"> sắp xếp: </label><br>
    <select name="singleSelect" ng-model="sort">
        <option value="">Default</option>
        <option value="1">Mua</option>
        <option value="2">Bán</option>
        <option value="3">Đang xử lý</option>
    </select>
    <table class="table">
        <thead>
            <tr>
                <th> Tên Sản Phẩm</th>
                <th> Size(VN)</th>
                <th> Thời gian giao dịch</th>
                <th>
                    Giá
                </th>
                <th>
                    Tên người khách hàng
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.post.kind)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in name | filter: {post: {kind: sort}}">
                <td>{{x.nameItem}}</td>
                <td>{{x.size}}</td>
                <td>{{x.post.date_start}}</td>
                <td>{{x.post.price}}</td>
                <td>{{x.post.user.name}}</td>
                <td>
                    <span ng-if="x.post.kind == 1">Mua</span>
                    <span ng-if="x.post.kind == 2">Bán</span>
                    <span ng-if="x.post.kind == 3">Đang xử lý</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>


@section Scripts {
    <script>
        app.controller('Post', function ($scope, $http) {
            $scope.sort = "";
            $http.get("/api/PostsAPI")
                .then(function (response) { $scope.name = response.data; console.log($scope.name); });
        });
    </script>
}
