@model Exaxxi.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<h4>LoginViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" id="username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" id="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="RememberMe" id="remember" /> @Html.DisplayNameFor(model => model.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input id="submit" type="button" value="Create" class="btn btn-default" />            
            </div>
        </form>
    </div>
</div>


@section Scripts {

    <script>
    $(function () {
        $("#submit").on("click", function () {
            var username = $("#username").val();
            var password = $("#password").val();
            var login = {
                "username": username,
                "password": password,
                "remember": null,
            };
            $.ajax({
                url: "/api/UsersAPI/PostUser",
                type: "POST",
                data: JSON.stringify(login),
                contentType: "application/json",
                success: function () {
                    window.location = "/Login/Profile";
                },
                error: function (notfound) {
                    alert(notfound.responseText);
                }
            });
        });
    });
    </script>
}
