@model Exaxxi.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    string actionName = this.ViewContext.RouteData.Values["action"].ToString();
    string login = "";
    string register = "";
    string firsttitle = "";
    string buttontext = "";
    if (actionName == "Index")
    {
        login = "";
        register = "hidden";
        firsttitle = "not-member";
        buttontext = "register-now";
    }
    if (actionName == "Register")
    {
        login = "hidden";
        register = "";
        firsttitle = "welcome";
        buttontext = "login";
    }
}

<div id="logreg-background" ng-controller="Login">
   
    <div class="container">
        <div class="row" id="logreg-wrapper">
            <div class="col-lg-9" id="logreg-form-wrapper">
                <div id="login-form" class="@login">
                    <p class="login-form-text" translate>{{'SIGNIN'}} </p>
                    <form>
                        <div class="form-group">
                            <label for="usr" class="login-form-label"><span translate>{{'EMAIL'}}</span></label>
                            <input type="text" class="form-control form-control-login" placeholder="{{'ENMAIL'| translate}}" id="usr">
                        </div>
                        <div class="form-group">
                            <label for="pwd" class="login-form-label"><span translate>{{'PASS'}}</span></label>
                            <input type="password" class="form-control form-control-login" placeholder="{{'ENPASS'| translate}}" id="pwd">
                        </div>
                        @*<label class="checkbox-container">
                            Remember me
                            <input type="checkbox" id="rmb">
                            <span class="checkmark"></span>
                        </label>*@
                        <button type="submit" class="btn logreg-form-button " id="submit" translate>{{'SIGNUP'}}</button> <br>
                        <a id="login-form-link" asp-action="PasswordForget" asp-controller="Login"><span translate>{{'FORGET'}}</span></a>
                    </form>
                </div>

                <div id="register-form" class="@register">
                    <p class="login-form-text" translate>{{'SIGNUP'}}</p>
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="login-form-label"><span>{{'NAME'| translate}}</span></label>
                                <input type="text" class="form-control form-control-login" placeholder="{{'ENNAME'| translate}}" id="name_re" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="login-form-label"><span translate>{{'EMAIL'}}</span></label>
                                <input type="email" class="form-control form-control-login" placeholder="{{'ENMAIL'| translate}}" id="email_re" required onblur="CheckExistMail()">
                                <div id="loi" style="color:#ff0000"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="login-form-label"><span translate>{{'PASS'}}</span></label>
                                <input type="password" class="form-control form-control-login" placeholder="{{'ENPASS'| translate}}" id="pwd_re" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="login-form-label"><span translate>{{'REPASS'}}</span></label>
                                <input type="password" class="form-control form-control-login" placeholder="{{'REPASS'| translate}}" id="pwd_re_conf" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="login-form-label"><span translate>{{'PHONE'}}</span></label>
                                <input type="text" class="form-control form-control-login" placeholder="{{'ENPHONE'| translate}}" id="phone_number" required>
                            </div>
                            <div class="form-group col-md-9">
                                <label class="login-form-label">{{'ADDRESS'| translate}}</label>
                                <input type="text" class="form-control form-control-login" placeholder="{{'ENADDRESS'| translate}}" id="address" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="login-form-label">{{'CITY'| translate}}</label>
                                <select id="city" class="form-control form-control-login" required>
                                    <option ng-repeat="x in list_city" value="{{x.id}}">{{x.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="min-width:100%!important;">
                            <div class="g-recaptcha" data-sitekey="6Lfwz6IUAAAAAGVKa7XbpkYbqDI9tRE62IUNUGha"></div>
                        </div>
                        <button type="submit" id="sb_reg" class="btn logreg-form-button">{{'SIGNIN'| translate}}</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-3" id="login-form-register">
                <p id="login-form-register-header" class="@firsttitle"></p>
                <p id="login-form-register-quote">
                    "I think there is beauty in
                    everything. What 'normal'
                    people perceive as ugly,
                    I can usually see something
                    of beauty in it."<br>
                    <span>Alexander McQueen</span>
                </p>
                <button class="btn @buttontext" id="login-form-register-button"></button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        exaxxiApp.controller('Login', function ($scope, $http) {
            $http.get("/api/CitysAPI")
                .then(function (respone) { $scope.list_city = respone.data; });
            //Login
            $("#submit").on("click", function () {
                var username = $("#usr").val();
                var password = $("#pwd").val();
                var login = {
                    "username": username,
                    "password": password,
                };
                var url = sessionStorage.getItem('url');
                $http.post("/api/UsersAPI/PostUserLogin", JSON.stringify(login)).
                    then(function (data) {
                     
                        $http.post("/Login/Login", JSON.stringify(data.data)).
                            then(function () {
                                if (url != null)
                                    window.location = url;
                                else
                                    window.location = "/User";
                            });

                    })
                    .catch(function onError(response) {
                        alert(response.data);
                    });
            });

            //Register
            $("#sb_reg").on("click", function () {
                var name = $("#name_re").val();
                var email = $("#email_re").val();
                var password = $("#pwd_re").val();
                var password_confirm = $("#pwd_re_conf").val();
                var phone = $("#phone_number").val();
                var address = $("#address").val();
                var id_city = $("#city").val();
                var captcha = grecaptcha.getResponse();
                var register = {
                    "name": name,
                    "email": email,
                    "password": password,
                    "confirm_password": password_confirm,
                    "phone": phone,
                    "address": address,
                    "id_city": id_city,
                    "num_item_selled": 0,
                    "captcha": captcha
                };
                $.ajax({
                    url: "/api/UsersAPI/PostRegister",
                    type: "POST",
                    data: JSON.stringify(register),
                    contentType: "application/json",
                    success: function () {
                        alert("Đăng ký thành công!");
                        window.location = "/Login";
                    },
                    error: function (notfound) {
                        alert(notfound.responseText);
                    }
                });
            });
        });

            function CheckExistMail() {
                var email = $("#email_re").val();
                $.ajax({
                    url: "/api/UsersAPI/CheckExistMail/?email=" + email,
                    type: 'GET',
                    contentType: "application/json",
                    success: function (data) {
                        $('#loi').html(data);
                    },
                    error: function () {
                        alert(notfound.responseText);
                    }
                });
            }       

    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
}

