@model Exaxxi.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    string actionName = this.ViewContext.RouteData.Values["action"].ToString();
    string login = "";
    string register = "";
    string firsttitle = "";
    string buttontext = "";
    if (actionName == "Index")
    {
        login = "";
        register = "hidden";
        firsttitle = "not-member";
        buttontext = "register-now";
    }
    if (actionName == "Register")
    {
        login = "hidden";
        register = "";
        firsttitle = "welcome";
        buttontext = "login";
    }
}

<div id="logreg-background" ng-controller="Login">

    <div class="container">
        <div class="row" id="logreg-wrapper">
            <div class="col-lg-9" id="logreg-form-wrapper">
                <div id="login-form" class="@login">
                    <p class="login-form-text">Login </p>
                    <form>
                        <div class="form-group">
                            <label for="usr" class="login-form-label">Email Address</label>
                            <input type="text" class="form-control form-control-login" placeholder="Enter your email address" id="usr">
                        </div>
                        <div class="form-group">
                            <label for="pwd" class="login-form-label">Password</label>
                            <input type="password" class="form-control form-control-login" placeholder="Enter your password" id="pwd">
                        </div>
                        <label class="checkbox-container">
                            Remember me
                            <input type="checkbox" id="rmb">
                            <span class="checkmark"></span>
                        </label>
                        <button type="submit" class="btn logreg-form-button " id="submit">Login</button> <br>
                        <a id="login-form-link" asp-action="PasswordForget" asp-controller="Login">Forget your password?</a>
                    </form>
                </div>

                <div id="register-form" class="@register">
                    <p class="login-form-text">Register</p>
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="login-form-label">Name</label>
                                <input type="text" class="form-control form-control-login" placeholder="Enter your name" id="name_re" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="login-form-label">Email Address</label>
                                <input type="email" class="form-control form-control-login" placeholder="Enter your email address" id="email_re" required onblur="CheckExistMail()">
                                <div id="loi" style="color:#ff0000"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="login-form-label">Password</label>
                                <input type="password" class="form-control form-control-login" placeholder="Enter your password" id="pwd_re" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="login-form-label">Re-enter Password</label>
                                <input type="password" class="form-control form-control-login" placeholder="Re-enter your password" id="pwd_re_conf" required>
                            </div>
                        </div>
                        <div class="form-group" style="min-width:100%!important;">
                            <div class="g-recaptcha" data-sitekey="6Lfwz6IUAAAAAGVKa7XbpkYbqDI9tRE62IUNUGha"></div>
                        </div>
                        <button type="submit" id="sb_reg" class="btn logreg-form-button">Register</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-3" id="login-form-register">
                <p id="login-form-register-header" class="@firsttitle"></p>
                <p id="login-form-register-quote">
                    "I think there is beauty in
                    everything. What 'normal'
                    people perceive as ugly,
                    I can usually see something
                    of beauty in it."<br>
                    <span>Alexander McQueen</span>
                </p>
                <button class="btn @buttontext" id="login-form-register-button"></button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        exaxxiApp.controller('Login', function ($scope, $http) {

            //Login
            $("#submit").on("click", function () {
                var username = $("#usr").val();
                var password = $("#pwd").val();
                var login = {
                    "username": username,
                    "password": password,
                };

                $http.post("/api/UsersAPI/PostUserLogin", JSON.stringify(login)).
                    then(function (data) {

                        $http.post("/Login/Login", JSON.stringify(data.data)).
                            then(function () {
                                window.location = "/Product";
                            });

                    })
                    .catch(function onError(response) {
                        alert(response.data);
                    });
            });

            //Register
            $("#sb_reg").on("click", function () {
                var name = $("#name_re").val();
                var email = $("#email_re").val();
                var password = $("#pwd_re").val();
                var password_confirm = $("#pwd_re_conf").val();
                var captcha = grecaptcha.getResponse();
                var register = {
                    "name": name,
                    "email": email,
                    "password": password,
                    "confirm_password": password_confirm,
                    "captcha": captcha,
                };
                $.ajax({
                    url: "/api/UsersAPI/PostRegister",
                    type: "POST",
                    data: JSON.stringify(register),
                    contentType: "application/json",
                    success: function () {
                        alert("Đăng ký thành công!");
                        window.location = "/Login";
                    },
                    error: function (notfound) {
                        alert(notfound.responseText);
                    }
                });
            });
        });

            function CheckExistMail() {
                var email = $("#email_re").val();
                $.ajax({
                    url: "/api/UsersAPI/CheckExistMail/?email=" + email,
                    type: 'GET',
                    contentType: "application/json",
                    success: function (data) {
                        $('#loi').html(data);
                    },
                    error: function () {
                        alert(notfound.responseText);
                    }
                });
            }       

    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
}

