
@{
    ViewData["Title"] = "PasswordForget";
}

<form >
    <div class="form-group">
        <label class="login-form-label">Email Address</label>
        <input type="text" class="form-control form-control-login" placeholder="Enter your email address" id="email">
    </div>    
    <button type="button" class="btn logreg-form-button" id="submit">Send</button> <br>
</form>

@section Scripts{
    <script>
        $(function () {
            $("#submit").on("click", function () {
                var email = $("#email").val();
                $.ajax({
                    url: "/api/UsersAPI/GetForgetPassword?email=" + email,
                    type: 'GET',
                    contentType: "application/json",
                    success: function () {
                        alert("Gửi Vào Email Thành Công");
                    },
                    error: function (notfound) {
                        alert(notfound.responseText);
                    }
                });
            });
        });
    </script>
}
