
@{
    ViewData["Title"] = "PasswordForget";
}
    <div id="logreg-background">

        <div class="container">
            <div class="row" id="logreg-pass-recovery-wrapper">
                <div class="col-md-8 offset-md-2" id="logreg-form-wrapper">
                    <p class="password-recovery">{{'RECOVERY'| translate}}</p>
                    <form>
                        <div class="form-group">
                            <label class="login-form-label">{{'EMAIL'| translate}}</label>
                            <input type="text" class="form-control form-control-login" placeholder="{{'ENMAIL'| translate}}" id="email">
                        </div>
                        <a class="btn logreg-form-button logreg-back-button btn-fullwidth " asp-controller="Login" asp-action="Index">{{'BACK'| translate}}</a>
                        <button type="submit" class="btn logreg-form-button btn-fullwidth " id="submit">{{'SEND'| translate}}</button><br /> 
                    </form>
                </div>
            </div>
        </div>
    </div>


@section Scripts{
    <script>
        $(function () {
            $("#submit").on("click", function () {
                var email = $("#email").val();
                $.ajax({
                    url: "/api/UsersAPI/GetForgetPassword?email=" + email,
                    type: 'GET',
                    contentType: "application/json",
                    success: function () {
                        alert("Gửi Vào Email Thành Công");
                    },
                    error: function (notfound) {
                        alert(notfound.responseText);
                    }
                });
            });
        });
    </script>
}
