@model Exaxxi.Models.ds_Size

@{
    ViewData["Title"] = "Create";
}
<div class="row" ng-controller="editDsSize">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Chỉnh Sửa</h4>
                <p class="card-category">Size</p>
            </div>
            <div class="card-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label>Chủng loại</label>
                        <select class="form-control" name="singleSelect" id="select" ng-model="selectedDepart" ng-options="depart.vi_name for depart in name"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label bmd-label-floating">Size VN</label>
                        <input id="VN" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="control-label bmd-label-floating">US</label>
                        <input id="US" class="form-control" />
                        <span asp-validation-for="US" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label bmd-label-floating">UK</label>
                        <input id="UK" class="form-control" />
                        <span asp-validation-for="UK" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label bmd-label-floating">Inch</label>
                        <input id="Inch" class="form-control" />
                        <span asp-validation-for="Inch" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label bmd-label-floating">Centimet</label>
                        <input id="Centimet" class="form-control" />
                        <span asp-validation-for="Centimet" class="text-danger"></span>
                    </div>
                    <a asp-action="Index">Quay Về</a>
                    <button type="submit" class="btn btn-primary pull-right" ng-click="sendData()">Tạo Mới</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        app.controller('editDsSize', function ($scope, $http) {
            $http.get("/api/DepartmentsAPI")
                .then(function (response) { $scope.name = response.data; $scope.selectedDepart = $scope.name[0];});
            $scope.sendData = function () {
                var id_department =  $scope.selectedDepart.id;
                var VN = $("#VN").val();
                var US = $("#US").val();
                var UK = $("#UK").val();
                var Inch = $("#Inch").val();
                var Centimet = $("#Centimet").val();
               

                var ds_Size = {
                    "VN": VN,
                    "US": US,
                    "UK": UK,
                    "Inch": Inch,
                    "Centimet": Centimet,
                    "id_Depart": id_department
                };
                var config = {
                    headers: {
                        'Context-Type': 'application/json',
                        'Authorization': 'Bearer ' + sessionStorage.getItem('token')
                    }
                }
                $http.post("/api/ds_SizeChange", JSON.stringify(ds_Size),config).then(function (response) {
                    alert("thanh cong");

                }, function error(response) {
                    // this function will be called when the request returned error status
                    alert("that bai");

                });
            };
        });
    </script>
}