@model IEnumerable<Exaxxi.Models.ds_Size>

@{
    ViewData["Title"] = "Index";
}
<div class="row" >
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Danh Sách Tiêu Chuẩn Kích Thước</h4>
                <p class="card-category">Quản lý danh sách tiêu chuẩn kích thước</p>
            </div>
            <div class="card-body" ng-controller="DSSize">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>Tên chủng loại</th>
                                <th>
                                    Size Việt Nam
                                </th>
                                <th>
                                    Size Mỹ
                                </th>
                                <th>
                                    Size Anh
                                </th>
                                <th>
                                    Inch
                                </th>
                                <th>
                                    Centimet
                                </th>
                                <th class="text-right"><a asp-action="Create">Tạo Mới</a></th>
                            </tr>
                        </thead>
                        <tbody >
                           
                            <tr ng-repeat="x in name">
                                <td>
                                    <span ng-repeat="a in nameDepart">
                                        <span ng-if="a.id == x.id_Depart">{{a.vi_name}}</span>
                                    </span>
                                </td>
                                <td>
                                    {{x.vn}}
                                </td>
                                <td>
                                    {{x.us}}
                                </td>
                                <td>
                                    {{x.uk}}
                                </td>
                                <td>
                                    {{x.inch}}
                                </td>
                                <td> {{x.centimet}}</td>
                                <td class="td-actions text-right">
                                    <a href="/Admin/ds_Size/Edit/{{x.id}}">
                                        <button type="button" rel="tooltip" title="Edit" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </a>
                                    @*<a href="/Admin/ds_Size/Details/{{x.id}}">
                                        <button type="button" rel="tooltip" title="Detail" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">
                                                info
                                            </i>
                                        </button>
                                    </a>*@
                                    <button ng-click="Delete(x.id)" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        app.controller('DSSize', function ($scope, $http) {
            $scope.Delete = function (id) {
                var url = '/api/ds_SizeChange/' + id;
                //  $http.defaults.headers.common.Authorization = 'Bearer ' + sessionStorage.getItem('token');
                var config = {
                    headers: {
                        'Context-Type': 'application/json',
                        'Authorization': 'Bearer ' + sessionStorage.getItem('token')
                    }
                }
                var isConfirm = confirm("Bạn có chắc chắn muốn xóa?")
                if (isConfirm) {
                    $http.delete(url, config).then(function (response) {
                        window.location.reload();
                    });

                } else {
                    return false;
                }
            }
              $http.get("/api/DepartmentsAPI")
                .then(function (response) { $scope.nameDepart = response.data;});
            $http.get("/api/ds_SizeAPI")
                .then(function (response) { $scope.name = response.data;});
        });
    </script>
}
