
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Thư Mục</h4>
                <p class="card-category">Tạo thư mục lưu trữ</p>
            </div>
            <div class="card-body">
                <form asp-action="CreateFolder2" asp-controller="Upload" asp-area="Admin" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="bmd-label-floating">
                            Name
                        </label>
                        <input type="text" name="name" id="name" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Tạo Thư Mục</button>

                </form>
                    
            </div>
        </div>
    </div>
</div>