<div>
    <form asp-action="CreateFolder" asp-controller="Upload" method="post">
        <label>file</label>
        <input type="text" name="name" value="" />
        <button type="submit">ok</button>
</form>
</div>
