<html>
<head>
    <title>files Brower</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            font-family: 'Segoe UI',Verdana, Arial, Helvetica, sans-serif;
            font-size: 80%;
        }

        #form {
            width: 600px;
        }

        #folderExplorer {
            float: left;
            width: 100px;
        }

        #fileExplorer {
            float: left;
            width: 680px;
            border-left: 1px solid #dff0ff;
        }

        .thumbnail {
            float: left;
            margin: 3px;
            padding: 3px;
            border: 1px solid #dff0ff;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            padding: 0;
        }
    </style>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var funcNum = @(Context.Request.Query["CKEditorFuncNum"]+ ";" )
                $('#fileExplorer').on('click', 'img', function () {
                    var fileUrl = '/uploads/' + $(this).attr('title');
                    window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl);
                    window.close();
                }).hover(function () {
                    $(this).css('cursor', 'pointer');
                });


        });


    </script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <form method="post" enctype="multipart/form-data">

                        <input type="file" name="name" id="name" />
                        <button type="submit" id="submit"> submit</button>
                    </form>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Open modal
                </button>

                <!-- The Modal -->
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modal Heading</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div>
                                <form asp-action="CreateFolder" asp-controller="Upload" method="post" id="CreateFolder">
                                    <label>file</label>
                                    <input type="text" name="name" value="" />
                                    <button type="submit" id="submit">ok</button>
                                </form>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="fileExplorer" class="col-md-9">
                @foreach (var fileInfo in ViewBag.fileInfos)
                {
                    <div class="thumbnail">
                        <img src="~/uploads/@fileInfo.Name" alt="thumb" title="@fileInfo.Name" height="100" width="120" /><br />
                        @fileInfo.Name
                    </div>
                }

            </div>
        </div>
    </div>
</body>
</html>
