<h2 style="margin-top:100px">Thay Đổi Mật Khẩu</h2>

<form ng-controller="Admin">
    <div class="form-group">
        <label class="login-form-label">Mật khẩu mới</label>
        <input type="password" class="form-control form-control-login" placeholder="Enter your email address" id="pass">
    </div>
    <div class="form-group">
        <label class="login-form-label">Nhập lại mật khẩu</label>
        <input type="password" class="form-control form-control-login" placeholder="Enter your re-email address" id="re_pass">
    </div>
    <button type="submit" class="btn logreg-form-button" id="submit">Send</button> <br>
</form>

@section Scripts{
    <script>
        app.controller('Admin', function ($scope, $http) {
            $("#submit").on('click', function () {
                var pass = $("#pass").val();
                var re_pass = $("#re_pass").val();

                var renew = {
                    password: pass,
                    email: "@ViewBag.Email",
                    hash: "@ViewBag.Hash",
                    repass: re_pass,
                };

                $http.post("/api/AdminsAPI/ChangePassword", JSON.stringify(renew)).
                    then(function (data) {
                        alert("Đổi mật khẩu thành công!");
                        window.location = "/Admin";
                    }).catch(function onError(response) {
                        alert(response.data);
                    });;
            });
        });
    </script>
}
