
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>ChangePassword</h2>

<form>
    <div class="form-group">
        <label class="control-label">Nhap password</label>
        <input type="password" class="form-control" id="pass" />
    </div>
    <div class="form-group">
        <label class="control-label">Nhap lai password</label>
        <input type="password" class="form-control" id="re_pass" />
    </div>
    <button id="submit">Đồng ý</button>
</form>
@section Scripts {
    <script>
        $(function () {
            $("#submit").on("click", function () {
                var pass = $("#pass").val();
                var re_pass = $("#re_pass").val();
                var renew = {
                    password: pass.toString(),
                    username: "@ViewBag.Email",
                    hash: "@ViewBag.Hash",
                    repass: re_pass.toString(),
                };

                $.ajax({
                    url: "/api/AdminsAPI/RenewPassword",
                    type: "POST",
                    data: JSON.stringify(renew),
                    contentType: "application/json",
                    success: function () {
                        alert("Đổi mật khẩu thành công");
                        //window.location = "/admin";
                    },
                    error: function (notfound) {
                        alert(notfound.responseText);
                    }
                });
            });
        });
    </script>
}