<form>
    <div class="form-group" ng-controller="Admin">
        <label class="login-form-label">Your Email:</label>
        <input type="email" class="form-control form-control-login" placeholder="Enter your email address" id="email">
        <button type="submit" class="btn logreg-form-button" id="submit">Send</button> <br>
    </div>
</form>

@section Scripts{
    <script>
        app.controller('Admin', function ($scope, $http) {
            $("#submit").on('click', function () {
                var email = $("#email").val();

                $http.get("/api/AdminsAPI/GetForgetPassword/" + email).
                    then(function (data) {
                        alert("Vui lòng kiểm tra Email!");
                    }).catch(function onError(response) {
                        alert(response.data);
                    });;
            });
        });
    </script>
}
