
@{
    ViewData["Title"] = "ForgetPassword";
}

<h2>ForgetPassword</h2>
<form>
    <div class="form-group">
        <label class="control-label">Email</label>
        <input class="form-control" id="email" />
        <button id="submit">Đồng ý</button>
    </div>
</form>



@section Scripts {
    <script>
        $(function () {
            $("#submit").on("click", function () {
                var username = $("#email").val();
                $.ajax({
                    url: "/api/AdminsAPI/GetForgetPassword?email=" + username,
                    type: "GET",
                    contentType: "application/json",
                    success: function () {
                        alert("thanh cong")
                    },
                    error: function (notfound) {
                        alert(notfound.responseText);
                    }
                });
            });
        });
    </script>
}