@{
    ViewData["Title"] = "Categories";
}
<div class="row" ng-controller="Categories">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Danh sách thể loại</h4>
                <p class="card-category">Quản lý danh sách thể loại</p>
            </div>
            <div class="card-body">
                <label for="singleSelect"> sắp xếp: </label><br>
                <select name="singleSelect1" data-ng-init="confirmed" ng-change="change1()" id="select1" ng-model="confirmed">
                    <option ng-repeat="x in name" value="{{x.id}}">{{x.vi_name}}</option>

                </select>
                <label for="singleSelect"> sắp xếp: </label><br>
                <select name="singleSelect" data-ng-init="selectedItem" ng-change="change()" id="select" ng-model="selectedItem">
                    <option ng-repeat="z in getItem" value="{{z.id}}">{{z.name}}</option>

                </select>
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Tên loại
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th>
                                    Thứ tự
                                </th>
                                <th ><a asp-action="Create">Tạo Mới</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="y in getCategories">
                                <td>
                                    {{y.name}}
                                </td>
                                <td>
                                    {{y.active}}
                                </td>
                                <td>
                                    {{y.order}}
                                </td>
                                <td >
                                    <a href="/Admin/Brands/Edit/{{y.id}}">Edit</a> |
                                    <a href="/Admin/Brands/Details/{{y.id}}">Details</a> |
                                    <a style="cursor: pointer;" id="delete" class="delete" ng-click="Delete(y.id)">Delete</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        app.controller('Categories', function ($scope, $http) {
            $scope.Delete = function (id) {
                var url = '/api/CategoriesChange/' + id;
                //  $http.defaults.headers.common.Authorization = 'Bearer ' + sessionStorage.getItem('token');
                var config = {
                    headers: {
                        'Context-Type': 'application/json',
                        'Authorization': 'Bearer ' + sessionStorage.getItem('token')
                    }
                }
                var isConfirm = confirm("bạn có chắc chắn muốn xóa")
                if (isConfirm) {
                    $http.delete(url, config).then(function (response) {
                        window.location.reload();
                    });

                } else {
                    return false;
                }
            }
             $http.get("/api/DepartmentsAPI")
                .then(function (response) { $scope.name = response.data;});
             $http.get("/api/CategoriesAPI/GetCategoriesAd/" + 1)
                .then(function (response) { $scope.getItem = response.data;});
            $scope.change1 = function () {
                var x1 = $("#select1").val();
               
                $http.get("/api/BrandsAPI/GetBrandsAd/" + x1)
                    .then(function (response) { $scope.getItem = response.data;});
            }
           
            $scope.change = function () {
                var x = $("#select").val();
                $http.get("/api/CategoriesAPI/GetCategoriesAd/" + x)
                    .then(function (response) { $scope.getCategories = response.data;});
            }

        });
    </script>
}
