@model Exaxxi.Models.Items

@{
    ViewData["Title"] = "Create";
}
<div class="row" ng-controller="editDsSize">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Tạo Mới</h4>
                <p class="card-category">Sản Phẩm</p>
            </div>
            <div class="card-body">
                <form asp-action="Create" asp-controller="Items" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="id" />
                    <div class="form-group">
                        <label asp-for="name" class="bmd-label-floating"></label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="img" class=" btn btn-primary">
                            Chọn Hình
                        </label>
                        <input type="file" id="img" name="img" required>
                        @*<input asp-for="img" class="hidden form-control" />*@
                    </div>
                    <div class="form-group">
                        <label asp-for="img3d" class=" btn btn-primary">
                            Chọn Hình 3d
                        </label>
                        <input type="file" id="img3d" name="img3d" multiple required>
                        @*<input asp-for="img" class="hidden form-control" />*@
                    </div>
                    <div class="form-group">
                        <label asp-for="vi_info"></label><br />
                        <textarea asp-for="vi_info" class="form-control"></textarea>
                        <span asp-validation-for="vi_info" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="en_info"></label><br />
                        <textarea asp-for="en_info" class="form-control"></textarea>
                        <span asp-validation-for="en_info" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="bmd-label-floating">Số lượng đã bán</label>
                        <input type="number" min="0" asp-for="sold" class="form-control" />
                        <span asp-validation-for="sold" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="bmd-label-floating">Admin</label>
                        <select asp-for="id_admin" class="form-control" id="admin"></select>
                        <span asp-validation-for="id_admin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="bmd-label-floating">Thể Loại</label>
                        <select asp-for="id_category" class="form-control" id="category"></select>
                        <span asp-validation-for="id_category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-check p-0">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.active)
                                <input asp-for="active" class="form-check-input" type="checkbox">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Index">Quay Về</a>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Tạo Mới</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {

            $.ajax({
                url: "/api/CategoriesAPI",
                method: "GET",
                success: function (data) {
                    $(data).each(function (index, value) {

                        var option = $("<option/>").attr("value", value.id).html(value.name);

                        $("#category").append(option)
                    });
                }
            });
            $.ajax({
                url: "/api/AdminsAPI",
                method: "GET",
                success: function (data) {
                    $(data).each(function (index, value) {

                        var option = $("<option/>").attr("value", value.id).html(value.name);

                        $("#admin").append(option)
                    });
                }
            });
        });
    </script>
   <script>
        $(document).ready(function () {
            CKEDITOR.replace('vi_info', {
                height: 400,
                filebrowserUploadUrl: '/Admin/Upload/UploadCKEditor',
                filebrowserBrowseUrl: '/Admin/Upload/FileBrowse'
            });
        });

        CKEDITOR.replace('en_info', {
            height: 400,
            filebrowserUploadUrl: '/Admin/Upload/UploadCKEditor',
            filebrowserBrowseUrl: '/Admin/Upload/FileBrowse'
        });
    </script>
}


