
@{
    ViewData["Title"] = "Edit3d";
}

<h2>Edit3d</h2>
<div>sđ</div>
<div class="row">
    <div class="col-md-4">
        <img src="~/uploads/20190529224124iphone-x-64gb-1-400x460.png" width="100px"/>
    </div>
    <div class="col-md-4">
        <img src="~/uploads/20190529224124iphone-x-64gb-1-400x460.png" />
    </div>
    <div class="col-md-4">
        <img src="~/uploads/20190529224124iphone-x-64gb-1-400x460.png" />
    </div> 
    <div class="col-md-4">
        <img src="~/uploads/20190529224124iphone-x-64gb-1-400x460.png" />
    </div> 
    <div class="col-md-4">
        <img src="~/uploads/20190529224124iphone-x-64gb-1-400x460.png" />
    </div> 
    <div class="col-md-4">
        <img src="~/uploads/20190529224124iphone-x-64gb-1-400x460.png" />
    </div> 
    <div class="col-md-4">
        <img src="~/uploads/20190529224124iphone-x-64gb-1-400x460.png" />
    </div>
</div>