
@{
    ViewData["Title"] = "Items";
}
<div class="row" ng-controller="item">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Danh sách sản phẩm</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                {{sortBy}}
                <label for="singleSelect"> Thể Loại: </label><br>
                <select name="singleSelect" data-ng-init="confirmed" ng-change="change()" id="select" ng-model="confirmed">
                    <option value="">Tất cả</option>
                    <option ng-repeat="x in name" value="{{x.id}}">{{x.name}}</option>

                </select>
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th ng-click='sort("items.name")'>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Hình
                                </th>
                                <th ng-click='sort("items.lowest_ask")'>
                                    Giá
                                </th>
                                <th>
                                    Biến động giá
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th>
                                    Đã bán
                                </th>
                                <th>
                                    Admin
                                </th>
                                <th>
                                    Thể loại
                                </th>
                                <th class="text-right"><a asp-action="Create">Tạo Mới</a></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr dir-paginate="x in getItem |  orderBy:sortBy:reverse | itemsPerPage: 5 ">
                                <td>
                                    {{x.items.name}}
                                </td>

                                <td>
                                    <img src="~/images/item/{{x.items.img}}" width="20" height="100" />

                                </td>
                                <td>
                                    {{x.items.lowest_ask | currency:"":0:3}} VND

                                </td>
                                <td>
                                    {{x.items.volatility | currency:"":0:3}} VND

                                </td>
                                <td>
                                    {{x.items.active == true ? "Đang hoạt động" : "Đã khóa"}}

                                </td>
                                <td>
                                    {{x.items.sold}}

                                </td>
                                <td>
                                    {{x.nameAdmin}}

                                </td>
                                <td>
                                    {{x.nameCate}}

                                </td>
                                <td class="td-actions text-right">
                                    <a href="/Admin/Items/Edit/{{x.items.id}}">
                                        <button type="button" rel="tooltip" title="Edit" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </a>
                                    <a href="/Admin/Items/Details/{{x.items.id}}">
                                        <button type="button" rel="tooltip" title="Detail" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">
                                                info
                                            </i>
                                        </button>
                                    </a>
                                    <button ng-click="Delete(x.items.id)" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
</tbody>
                    </table>

                </div>
                <div class="pagination-wrapper row">
                    <dir-pagination-controls boundary-links="true" direction-links="true" template-url="../dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        app.controller('item', function ($scope, $http) {
            $scope.Delete = function (id) {
                var url = '/api/ItemsChange/' + id;
                //  $http.defaults.headers.common.Authorization = 'Bearer ' + sessionStorage.getItem('token');
                var config = {
                    headers: {
                        'Context-Type': 'application/json',
                        'Authorization': 'Bearer ' + sessionStorage.getItem('token')
                    }
                }
                var isConfirm = confirm("bạn có chắc chắn muốn xóa")
                if (isConfirm) {
                    $http.delete(url, config).then(function (response) {
                        window.location.reload();
                    });

                } else {
                    return false;
                }
            }
            $http.get("/api/CategoriesAPI")
                .then(function (response) { $scope.name = response.data; });
            $http.get("/api/ItemsAPI/GetItemsAd/" + 0)
                .then(function (response) { $scope.getItem = response.data; });
            
             $scope.sort = function(keyname){
                $scope.sortBy = keyname;   //set the sortBy to the param passed
                $scope.reverse = !$scope.reverse; //if true make it false and vice versa
            }
            $scope.change = function () {
                var x;
                
                if ($("#select").val() == '') {
                       x = 0;
                }
                   if ($("#select").val() != '') {
                       x = $("#select").val();
                }
                $http.get("/api/ItemsAPI/GetItemsAd/" + x)
                    .then(function (response) { $scope.getItem = response.data; console.log($scope.getItem); });
                }
            });
       
    </script>
}
