@model Exaxxi.Models.Voucher

@{
    ViewData["Title"] = "Create";
}

<h2>Tạo Mới</h2>

<h4>Khuyến Mãi (Voucher)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Code khuyến mãi</label>
                <input asp-for="code" class="form-control" />
                <span asp-validation-for="code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kind" class="control-label"></label>
                <select asp-for="kind" class="form-control">
                    <option value="1">Giảm theo phần trăm</option>
                    <option value="2">Giảm theo số tiền</option>
                </select>
                <span asp-validation-for="kind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giá trị khuyến mãi</label>
                <input asp-for="value" type="number" min="0" class="form-control" />
                <span asp-validation-for="value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_start" class="control-label"></label>
                <input asp-for="date_start" class="form-control" />
                <span asp-validation-for="date_start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_end" class="control-label"></label>
                <input asp-for="date_end" class="form-control" />
                <span asp-validation-for="date_end" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Số lần sử dụng</label>
                <input asp-for="count" type="number" min="1" class="form-control" />
                <span asp-validation-for="count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo Mới" class="btn btn-primary pull-right" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay về</a>
</div>

