@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="row" ng-controller="Vouchers">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Danh sách thể loại</h4>
                <p class="card-category">Quản lý danh sách thể loại</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                   Code
                                </th>
                                <th>
                                    Kind
                                </th>
                                <th>
                                    value
                                </th>
                                <th>
                                    bat dau tu ngay
                                </th>
                                <th>
                                    ket thuc
                                </th>
                                <th>
                                  count
                                </th>
                                <th> <a asp-action="Create">Create New</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in getVouchers">
                                <td>
                                    {{x.code}}
                                </td>
                                <td>
                                    <span ng-if="x.kind == 1">Theo giảm giá</span>
                                    <span ng-if="x.kind == 2">Theo tháng</span>
                                </td>
                                <td>
                                    {{x.value}}
                                </td>
                                <td>
                                    {{x.date_start}}
                                </td>
                                <td>
                                    {{x.date_end}}
                                </td>
                                <td>
                                    {{x.count}}
                                </td>
                                <td>
                                    <a href="/Admin/Vouchers/Edit/{{x.id}}">Edit</a> |
                                    <a href="/Admin/Vouchers/Details/{{x.id}}">Details</a> |
                                    <a style="cursor: pointer;" id="delete" class="delete" ng-click="Delete(x.id)">Delete</a>
                                </td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        app.controller('Vouchers', function ($scope, $http) {
            $scope.Delete = function (id) {
                var url = '/api/VouchersChange/' + id;
                //  $http.defaults.headers.common.Authorization = 'Bearer ' + sessionStorage.getItem('token');
                var config = {
                    headers: {
                        'Context-Type': 'application/json',
                        'Authorization': 'Bearer ' + sessionStorage.getItem('token')
                    }
                }
                var isConfirm = confirm("bạn có chắc chắn muốn xóa")
                if (isConfirm) {
                    $http.delete(url, config).then(function (response) {
                        window.location.reload();
                    });

                } else {
                    return false;
                }
            }
            $http.get("/api/VouchersAPI")
                .then(function (response) { $scope.getVouchers = response.data; });
        });
    </script>
}
