@{
    ViewData["Title"] = "Index";
}

<div class="row" ng-controller="Vouchers">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Danh Sách Khuyến Mãi (Voucher)</h4>
                <p class="card-category">Quản lý danh sách khuyến mãi</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                   Mã Khuyến Mãi
                                </th>
                                <th>
                                    Loại Khuyến Mãi
                                </th>
                                <th>
                                    Giá Trị Khuyến Mãi
                                </th>
                                <th>
                                    Ngày Bắt Đầu
                                </th>
                                <th>
                                    Ngày Kết Thúc
                                </th>
                                <th>
                                  Số Lượng
                                </th>
                                <th> <a asp-action="Create">Tạo Mới</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in getVouchers">
                                <td>
                                    {{x.code}}
                                </td>
                                <td>
                                    <span ng-if="x.kind == 1">Theo giảm giá</span>
                                    <span ng-if="x.kind == 2">Theo thẳng</span>
                                </td>
                                <td>
                                    {{x.value}}
                                </td>
                                <td>
                                    {{x.date_start | date : 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    {{x.date_end | date : 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    {{x.count}}
                                </td>
                                <td>
                                    <a href="/Admin/Vouchers/Edit/{{x.id}}">Sửa</a> |                                    
                                    <a href="javascript:void()" style="cursor: pointer;" id="delete" class="delete" ng-click="Delete(x.id)">Xóa</a>
                                </td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        app.controller('Vouchers', function ($scope, $http) {
            $scope.Delete = function (id) {
                var url = '/api/VouchersChange/' + id;
                //  $http.defaults.headers.common.Authorization = 'Bearer ' + sessionStorage.getItem('token');
                var config = {
                    headers: {
                        'Context-Type': 'application/json',
                        'Authorization': 'Bearer ' + sessionStorage.getItem('token')
                    }
                }
                var isConfirm = confirm("Bạn có chắc chắn muốn xóa?")
                if (isConfirm) {
                    $http.delete(url, config).then(function (response) {
                        window.location.reload();
                    });

                } else {
                    return false;
                }
            }
            $http.get("/api/VouchersAPI")
                .then(function (response) { $scope.getVouchers = response.data; });
        });
    </script>
}
