@model Exaxxi.Models.News

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>News</h4>
<hr />
<div class="row" ng-app="exaxxiApp">
    <div class="col-md-4" ng-controller="test">
        <form asp-action="Create" asp-controller="News" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="vi_title" class="control-label"></label>
                <input class="form-control" ng-model="vi_title" id="vi_title" />
                <span asp-validation-for="vi_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="en_title" class="control-label"></label>
                <input class="form-control" ng-model="en_title" id="en_title" />
                <span asp-validation-for="en_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="img" class="control-label"></label>
                <input type="file" id="img" name="file" ng-model="img" upload-files>
                <span asp-validation-for="img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vi_content" class="control-label"></label>
                <input class="form-control" ng-model="vi_content" id="vi_content" />
                <span asp-validation-for="vi_content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="en_content" class="control-label"></label>
                <input class="form-control" ng-model="en_content" id="en_content" />
                <span asp-validation-for="en_content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_create" class="control-label"></label>
                <input asp-for="date_create" class="form-control" ng-model="date_create" id="date_create" />
                <span asp-validation-for="date_create" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="active" ng-model="active" id="active" /> @Html.DisplayNameFor(model => model.active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="id_admin" class="control-label"></label>
                <select asp-for="id_admin" class="form-control" ng-model="adminname" id="adminname"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_department" class="control-label"></label>
                <select asp-for="id_department" class="form-control" ng-model="departmentname" id="departmentname"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" id="submit" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <script>

        $(function () {

            $.ajax({
                url: "/api/DepartmentsAPI",
                method: "GET",
                success: function (data) {
                    $(data).each(function (index, value) {

                        var option = $("<option/>").attr("value", value.id).html(value.vi_name);

                        $("#departmentname").append(option)
                    });
                }
            });
            $.ajax({
                url: "/api/AdminsAPI",
                method: "GET",
                success: function (data) {
                    $(data).each(function (index, value) {

                        var option = $("<option/>").attr("value", value.id).html(value.name);

                        $("#adminname").append(option)
                    });
                }
            });
        });


    </script>

    <script>
        //var app = angular.module('exaxxiApp', []);
        //app.directive('uploadFiles', function () {
        //    return {
        //        scope: true,        //create a new scope
        //        link: function (scope, el, attrs) {
        //            el.bind('change', function (event) {
        //                var files = event.target.files;
        //                //iterate files since 'multiple' may be specified on the element
        //                for (var i = 0; i < files.length; i++) {
        //                    //emit event upward
        //                    scope.$emit("seletedFile", { file: files[i] });
        //                }
        //            });
        //        }
        //    };
        //});
        //app.controller('test', function ($scope, $http) {
        //    $scope.files = [];

        //    //3. listen for the file selected event which is raised from directive
        //    $scope.$on("seletedFile", function (event, args) {
        //        $scope.$apply(function () {
        //            //add the file object to the scope's files collection
        //            $scope.files.push(args.file);
        //        });
        //    });
        //    $scope.sendData = function () {
        //        var jsonData = {
        //            "en_title": $("#en_title").val(),
        //            "vi_title": $("#vi_title").val(),
        //            "vi_content": $("#vi_content").val(),
        //            "en_content": $("#en_content").val(),
        //            "img": document.getElementById('img').files[0].name,
        //            "date_create": $("#date_create").val(),
        //            "active": $("#active").val(),
        //            "id_admin": $("#adminname").val(),
        //            "id_department": $("#departmentname").val()
        //        };
        //        $http({
        //            method: 'POST',
        //            url: "/api/NewsAPI/PostCreateNews",
        //            headers: { 'Content-Type': undefined },

        //            transformRequest: function (data) {
        //                var formData = new FormData();
        //                formData.append("model", angular.toJson(data.model));
        //                for (var i = 0; i < data.files.length; i++) {
        //                    formData.append("file" + i, data.files[i]);
        //                }
        //                return formData;
        //            },
        //            data: { model: $scope.jsonData, files: $scope.files }
        //        }).then(function (data, status, headers, config) {

        //            window.location = "/Admin/News/Index";
        //        });



        //    }
        //});


                    //code chay

            //var app = angular.module('exaxxiApp', []);
            //app.controller('test', function ($scope, $http) {

            //    $scope.sendData = function () {

            //                var login = {

            //                    "en_title": $("#en_title").val(),
            //                    "vi_title": $("#vi_title").val(),
            //                    "vi_content": $("#vi_content").val(),
            //                    "en_content": $("#en_content").val(),
            //                    "img": document.getElementById('img').files[0].name,
            //                    "date_create": $("#date_create").val(),
            //                    "active": $("#active").val(),
            //                    "id_admin": $("#adminname").val(),
            //                    "id_department": $("#departmentname").val()
            //                };
            //                $http.post("/api/NewsAPI/PostCreateNews", JSON.stringify(login)).
            //                    then(function (data, status, headers, config) {

            //                        window.location = "/Admin/News/Index";
            //                    });

            //            }
            //        });

    </script>

}

