@model Exaxxi.Models.News
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Create News</h4>
                <p class="card-category">News</p>
            </div>
            <div class="card-body">
                <form asp-action="Create" asp-controller="News" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="vi_title" class="bmd-label-floating"></label>
                        <input class="form-control" id="vi_title" name="vi_title" />
                        <span asp-validation-for="vi_title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="en_title" class="bmd-label-floating"></label>
                        <input class="form-control" id="en_title" name="en_title" />
                        <span asp-validation-for="en_title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="img" class="bmd-label-floating btn btn-primary">
                            Chose Picture
                        </label>
                        <input type="file" id="img" name="img">
                        <span asp-validation-for="img" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="vi_content" class="control-label"></label>
                        <textarea class="form-control" id="vi_content" name="vi_content"></textarea>
                        <span asp-validation-for="vi_content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="en_content" class="control-label"></label>
                        <textarea class="form-control" id="en_content" name="en_content"></textarea>
                        <span asp-validation-for="en_content" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="id_admin" value="@HttpContextAccessor.HttpContext.Session.GetInt32("idAdmin")" />
                    <div class="form-group">
                        <label asp-for="id_department" class="bmd-label-floating"></label>
                        <select asp-for="id_department" class="form-control" id="departmentname" name="id_department"></select>
                    </div>
                    <div class="form-group">
                        <div class="form-check p-0">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.active)
                                <input asp-for="active" class="form-check-input" type="checkbox">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <a asp-action="Index">Back to List</a>
                    <button type="submit" class="btn btn-primary pull-right">Create News</button>
                </form>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script>
        $(function () {

            $.ajax({
                url: "/api/DepartmentsAPI",
                method: "GET",
                success: function (data) {
                    $(data).each(function (index, value) {

                        var option = $("<option/>").attr("value", value.id).html(value.vi_name);

                        $("#departmentname").append(option)
                    });
                }
            });
            $.ajax({
                url: "/api/AdminsAPI",
                method: "GET",
                success: function (data) {
                    $(data).each(function (index, value) {

                        var option = $("<option/>").attr("value", value.id).html(value.name);

                        $("#adminname").append(option)
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('vi_content', {
                height: 400,
                filebrowserUploadUrl: '/Admin/Upload/UploadCKEditor',
                filebrowserBrowseUrl: '/Admin/Upload/FileBrowse'
            });
        });

        CKEDITOR.replace('en_content', {
            height: 400,
            filebrowserUploadUrl: '/Admin/Upload/UploadCKEditor',
            filebrowserBrowseUrl: '/Admin/Upload/FileBrowse',

        });
    </script>
}

