@model Exaxxi.Models.News

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form ng-controller="myCtrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="vi_title" class="control-label"></label>
                <input class="form-control" id="vi_title_cre" />
                <span asp-validation-for="vi_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="en_title" class="control-label"></label>
                <input class="form-control" id="en_title_cre" />
                <span asp-validation-for="en_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input class="form-control" id="image_cre" type="file" file-model="myFile" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vi_content" class="control-label"></label>
                <input class="form-control" id="vi_content_cre" />
                <span asp-validation-for="vi_content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="en_content" class="control-label"></label>
                <input class="form-control" id="en_content_cre" />
                <span asp-validation-for="en_content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_create" class="control-label"></label>
                <input asp-for="date_create" class="form-control" id="date_create_cre" />
                <span asp-validation-for="date_create" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="active" id="active_cre" /> @Html.DisplayNameFor(model => model.active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="id_admin" class="control-label"></label>
                <select asp-for="id_admin" class="form-control" id="adminname_cre"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_department" class="control-label"></label>
                <select asp-for="id_department" class="form-control" id="departmentname_cre"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" id="sub_create" ng-click="uploadFile()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <script>
        $(function () {

            $.ajax({
                url: "/api/DepartmentsAPI",
                method: "GET",
                success: function (data) {
                    $(data).each(function (index, value) {

                        var option = $("<option/>").attr("value", value.id).html(value.vi_name);

                        $("#departmentname_cre").append(option)
                    });
                }
            });
            $.ajax({
                url: "/api/AdminsAPI",
                method: "GET",
                success: function (data) {
                    $(data).each(function (index, value) {

                        var option = $("<option/>").attr("value", value.id).html(value.name);

                        $("#adminname_cre").append(option)
                    });
                }
            });
        });
            
        //    $("#sub_create").on("click", function () {
        //        var vi_title = $("#vi_title_cre").val();
        //        var en_title = $("#en_title_cre").val();
        //        var image = $("#image_cre").get(0).files;
        //        var vi_content = $("#vi_content_cre").val();
        //        var en_content = $("#en_content_cre").val();
        //        var date_create = $("#date_create_cre").val();
        //        var active = $("#active_cre").val();
        //        var adminname = $("#adminname_cre").val();
        //        var departmentname = $("#departmentname_cre").val();

        //        var create = {
        //            "vi_title": vi_title,
        //            "en_title": en_title,
        //            "image": image,
        //            "vi_content": vi_content,
        //            "date_create": date_create,
        //            "active": active,
        //            "adminname": adminname,
        //            "departmentname": departmentname,

        //        };

        //        $.ajax({
        //            url: "/api/NewsAPI/PostNews",
        //            type: "POST",
        //            data: JSON.stringify(create),
        //            contentType: "application/json",
        //            success: function () {
        //                alert(" thành công!");
        //                window.location = "/news/index";
        //            },
        //            error: function (notfound) {
        //                alert("that bai");
        //            }
        //        });
        //    });
        //});
    </script>
    <script>
        var myApp = angular.module('exaxxiApp', []);

        myApp.directive('fileModel', ['$parse', function ($parse) {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    var model = $parse(attrs.fileModel);
                    var modelSetter = model.assign;

                    element.bind('change', function () {
                        scope.$apply(function () {
                            modelSetter(scope, element[0].files[0]);
                        });
                    });
                }
            };
        }]);
        myApp.service('fileUpload', ['$https:', function ($https:) {
            this.uploadFileToUrl = function (file, uploadUrl) {
                var fd = new FormData();
                fd.append('file', file);

                $https:.post(uploadUrl, fd, {
                    transformRequest: angular.identity,
                    headers: { 'Content-Type': undefined }
                })
                    .success(function () {
                    })
                    .error(function () {
                    });
            }
        }]);
        myApp.controller('myCtrl', ['$scope', 'fileUpload', function ($scope, fileUpload) {
            $scope.uploadFile = function () {

                var file = $scope.myFile;
                console.log('file is ');
                console.dir(file);
                var uploadUrl = "/fileUpload";
                fileUpload.uploadFileToUrl(file, uploadUrl);
            };
        }]);
    </script>
}

