<div class="container-fluid" style="background-color:#f2f2f2; min-height:100vh" ng-controller="User">
    <div class="row">
        @Html.Partial("~/Views/User/Menu.cshtml")

        <div class="col-md-9">
            <div class="user-info">
                <h3 class="font-weight-bold">
                    FOLLOWING<sup><a href="#" data-toggle="modal" data-target="#followingModal"> <i class="fas fa-plus"></i></a></sup>
                </h3>
                <div class="row">
                    <div class="col-12">
                        <table class="table">
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Market Value
                                </th>
                                <th>
                                    Lowest Ask
                                </th>
                                <th>
                                    Last Sale
                                </th>
                            </tr>
                        </table>
                        <div class="modal fade" id="followingModal">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Following</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <input type="text" ng-change="search()" name="key" ng-model="key" class="form-control" placeholder="Search" id="search_input">
                                        <div class="col-xs-12 custom-scrollbar" id="search-result-wrapper" ng-if="key">
                                            <div class="dropdown-divider"></div>
                                            <div class="row">
                                                <div class="col-12 search-result-text">
                                                    Search Result:
                                                </div>
                                            </div>
                                            <div class="row search-result-product-wrapper" ng-repeat="x in names  | filter:key">
                                                <div class="col-3 col-md-2" align="center">
                                                    <img src="~/images/{{x.item.img}}" class="search-img" />
                                                </div>
                                                <div class="col-9 col-md-10 search-name-wrapper">

                                                    <div><span class="search-brand-name">{{x.brand_name}}</span>/<span class="search-category-name">{{x.cate_name}}</span></div>

                                                    <a href="#" class="search-product-name">
                                                        {{x.item.name}}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 search-empty-result-text" ng-show="(names | filter:key).length == 0">Nothing here</div>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div align="center" style="color:#ab1113">
                            <b>
                                You haven't followed anything yet. Go get some hobbies dude !
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>