@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="container-fluid" style="background-color:#f2f2f2; min-height:100vh; padding-top:100px;" ng-controller="User">
    <div class="row">

        @Html.Partial("~/Views/User/Menu.cshtml")

        <div class="col-md-9">

            <div class="user-info">
                <h3 class="d-inline-block">
                    <b>{{ 'LEVEL' | translate}}:</b>
                </h3>
                <div class="user-level user-level-completed">{{user_info.level_seller}}</div>
                <div class="row">
                    <div class="col-md-4 ">
                        <h5 class="font-weight-bold">{{ 'SALES' | translate}}: {{user_info.num_item_selled}}</h5>
                        <h5 class="font-weight-bold">SCORE BUYER: {{user_info.score_buyer}}</h5>
                        <h5 class="font-weight-bold text-uppercase">{{ 'TRANSFEE' | translate}}:{{user_info.service_fee.value * 100}}%</h5>
                    </div>
                    <div class="col-md-8">
                        @*<div class="progress user-progress  mt-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%; color:white;">
                                1/3 {{'SALESCOMPLETED' | translate}}
                            </div>
                        </div>*@

                        @*<div class="d-flex mt-3">
                            <h4>
                                2 {{'MORENEEDED' | translate}}
                            </h4>
                            <div class="user-level">2</div>
                        </div>*@
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        //Show Department
        exaxxiApp.controller('User', function ($scope, $http) {

             //Take Info User
            $http.get("/api/UsersAPI/" + @HttpContextAccessor.HttpContext.Session.GetInt32("idUser"))
                .then(function (response) { $scope.user_info = response.data });
        });
    </script>
}