@{
    ViewData["Title"] = "Home Page";
}

<div id="title-background">
    <!-- Start title-background -->
    <div id="title-text">"Some quote goes here"</div>
    <div id="title-sub-text">AWESOME SHIRTS - AWESOME YOU</div>
</div> <!-- End title-background -->

<div id="category-panel">
    <!-- Start category-panel -->
    <a href="#" class="category-panel-active">Category</a>
    <a href="#">Category</a>
    <a href="#">Category</a>
    <a href="#">Category</a>
    <a href="#">Category</a>
</div> <!-- End category-panel -->

<div class="container">
    <div class="divider-section">
        <!-- Start divider-section -->
        <div class="see-all">
            <a href="#">
                See All
            </a>
        </div>
        <hr>
        <div class="divider-wrapper">
            <p class="title-divider">Popular Brands</p>
        </div>
    </div> <!-- End divider-section -->
</div>

<div class="container-fluid">
    <div class="row" id="brand-background-1">
        <!-- Start brand-background-1 -->
        <div class="col-md-4" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/adult-afro-cool-991509.jpg) center;">
            <div class="brand-title-1">
                <a href="#">Brand's Name</a>
            </div>
        </div>
        <div class="col-md-8" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/casual-cute-elegant-428338.jpg) center;">
            <div class="brand-title-1">
                <a href="#">Brand's Name</a>
            </div>
        </div>
    </div> <!-- End brand-bacground-1 -->
    <div class="row" id="brand-background-2">
        <!-- Start brand-bacground-1 -->
        <div class="col-md-4" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/adult-art-black-t-shirt-1656684.jpg) center;">
            <div class="brand-title-2">
                <a href="#">Brand's Name</a>
            </div>
        </div>
        <div class="col-md-4" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/adult-asphalt-black-shirt-2061881.jpg) center;">
            <div class="brand-title-2">
                <a href="#">Brand's Name</a>
            </div>
        </div>
        <div class="col-md-4" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/architecture-boy-bridge-1261422.jpg) center;">
            <div class="brand-title-2">
                <a href="#">Brand's Name</a>
            </div>
        </div>
    </div> <!-- End brand-bacground-1 -->
</div>

<div class="container">
    <div class="divider-section">
        <!-- Start divider-section -->
        <div class="see-all">
            <a href="#">
                See All
            </a>
        </div>
        <hr>
        <div class="divider-wrapper">
            <p class="title-divider">Popular Products</p>
        </div>
    </div> <!-- End divider-section -->
</div>

<div class="container">
    <!-- Start pupular products container -->
    <div class="row flex-row flex-nowrap" style="overflow-x: auto">
        <!-- Start row -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">
                <!-- Start card -->
                <div class="product-img-wrapper">
                    <img src="images/Layer%207.png" class="product-img">
                </div>
                <div class="product-title-wrapper">
                    <!-- Start product-title-wrapper -->
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 product-name">
                            <a href="#">
                                Jordan 1 Retro High Black Crimson Tint (GS)
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 " align="right">
                            <div class="product-price">
                                169.000.000<br>
                                <span style="color: #dbd9d9">VND</span><br>
                            </div>
                            <span class="product-sub-title">Lowest Ask</span>
                        </div>
                    </div>
                </div> <!-- End product-title-wrapper -->
            </div> <!-- End card -->
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">
                <!-- Start card -->
                <div class="product-img-wrapper">
                    <img src="images/Layer%207.png" class="product-img">
                </div>
                <div class="product-title-wrapper">
                    <!-- Start product-title-wrapper -->
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 product-name">
                            <a href="#">
                                Jordan 1 Retro High Black Crimson Tint (GS)
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 " align="right">
                            <div class="product-price">
                                169.000.000<br>
                                <span style="color: #dbd9d9">VND</span><br>
                            </div>
                            <span class="product-sub-title">Lowest Ask</span>
                        </div>
                    </div>
                </div> <!-- End product-title-wrapper -->
            </div> <!-- End card -->
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">
                <!-- Start card -->
                <div class="product-img-wrapper">
                    <img src="images/Layer%207.png" class="product-img">
                </div>
                <div class="product-title-wrapper">
                    <!-- Start product-title-wrapper -->
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 product-name">
                            <a href="#">
                                Jordan 1 Retro High Black Crimson Tint (GS)
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 " align="right">
                            <div class="product-price">
                                169.000.000<br>
                                <span style="color: #dbd9d9">VND</span><br>
                            </div>
                            <span class="product-sub-title">Lowest Ask</span>
                        </div>
                    </div>
                </div> <!-- End product-title-wrapper -->
            </div> <!-- End card -->
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">
                <!-- Start card -->
                <div class="product-img-wrapper">
                    <img src="images/Layer%207.png" class="product-img">
                </div>
                <div class="product-title-wrapper">
                    <!-- Start product-title-wrapper -->
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 product-name">
                            <a href="#">
                                Jordan 1 Retro High Black Crimson Tint (GS)
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 " align="right">
                            <div class="product-price">
                                169.000.000<br>
                                <span style="color: #dbd9d9">VND</span><br>
                            </div>
                            <span class="product-sub-title">Lowest Ask</span>
                        </div>
                    </div>
                </div> <!-- End product-title-wrapper -->
            </div> <!-- End card -->
        </div>
    </div> <!-- End row -->
</div> <!-- End popular products container -->

<div class="container">
    <div class="divider-section">
        <!-- Start divider-section -->
        <div class="see-all">
            <a href="#">
                See All
            </a>
        </div>
        <hr>
        <div class="divider-wrapper">
            <p class="title-divider">Best Seller</p>
        </div>
    </div> <!-- End divider-section -->
</div>

<div class="container">
    <!-- Start best seller container -->
    <div class="row flex-row flex-nowrap" style="overflow-x: auto">
        <!-- Start row -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">
                <!-- Start card -->
                <div class="product-img-wrapper">
                    <img src="images/Layer%207.png" class="product-img">
                </div>
                <div class="product-title-wrapper">
                    <!-- Start product-title-wrapper -->
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 product-name">
                            <a href="#">
                                Jordan 1 Retro High Black Crimson Tint (GS)
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 " align="right">
                            <div class="product-price">
                                169.000.000<br>
                                <span style="color: #dbd9d9">VND</span><br>
                            </div>
                            <span class="product-sub-title">Lowest Ask</span>
                        </div>
                    </div>
                </div> <!-- End product-title-wrapper -->
            </div> <!-- End card -->
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">
                <!-- Start card -->
                <div class="product-img-wrapper">
                    <img src="images/Layer%207.png" class="product-img">
                </div>
                <div class="product-title-wrapper">
                    <!-- Start product-title-wrapper -->
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 product-name">
                            <a href="#">
                                Jordan 1 Retro High Black Crimson Tint (GS)
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 " align="right">
                            <div class="product-price">
                                169.000.000<br>
                                <span style="color: #dbd9d9">VND</span><br>
                            </div>
                            <span class="product-sub-title">Lowest Ask</span>
                        </div>
                    </div>
                </div> <!-- End product-title-wrapper -->
            </div> <!-- End card -->
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">
                <!-- Start card -->
                <div class="product-img-wrapper">
                    <img src="images/Layer%207.png" class="product-img">
                </div>
                <div class="product-title-wrapper">
                    <!-- Start product-title-wrapper -->
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 product-name">
                            <a href="#">
                                Jordan 1 Retro High Black Crimson Tint (GS)
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 " align="right">
                            <div class="product-price">
                                169.000.000<br>
                                <span style="color: #dbd9d9">VND</span><br>
                            </div>
                            <span class="product-sub-title">Lowest Ask</span>
                        </div>
                    </div>
                </div> <!-- End product-title-wrapper -->
            </div> <!-- End card -->
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">
                <!-- Start card -->
                <div class="product-img-wrapper">
                    <img src="images/Layer%207.png" class="product-img">
                </div>
                <div class="product-title-wrapper">
                    <!-- Start product-title-wrapper -->
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 product-name">
                            <a href="#">
                                Jordan 1 Retro High Black Crimson Tint (GS)
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 " align="right">
                            <div class="product-price">
                                169.000.000<br>
                                <span style="color: #dbd9d9">VND</span><br>
                            </div>
                            <span class="product-sub-title">Lowest Ask</span>
                        </div>
                    </div>
                </div> <!-- End product-title-wrapper -->
            </div> <!-- End card -->
        </div>
    </div> <!-- End row -->
</div> <!-- End best seller container -->

<div class="container-fluid">
    <!-- Start email container -->
    <div class="row" id="subs-wrapper">
        <!-- Start subs-wrapper -->
        <div class="col-md-8" id="subs-background">
            <form>
                <p id="subs-title">
                    become our member
                </p>
                <p id="subs-sub-title">
                    you won't regret it
                </p>
                <button class="btn btn-subs btn-subs-explore">Explore now</button>
            </form>
        </div>
        <div class="col-md-4" id="subs-email-wrapper">
            <form>
                <input id="subs-input" placeholder="Enter email address"> <br><br>
                <button class="btn btn-subs">Send</button>
            </form>
        </div>
    </div> <!-- End subs-wrapper -->
</div> <!-- End email container -->

<div class="container">
    <div class="divider-section">
        <!-- Start divider-section -->
        <div class="see-all">
            <a href="#">
                See All
            </a>
        </div>
        <hr>
        <div class="divider-wrapper">
            <p class="title-divider">Latest News</p>
        </div>
    </div> <!-- End divider-section -->
</div>

<div class="container-fluid">
    <!-- Start News container -->
    <div class="row" id="news-background-1">
        <!-- Start news-background-1 -->
        <div class="col-sm-6 col-lg-4" style="background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(images/beautiful-woman-black-t-shirt-blonde-2124679.jpg) center;">

        </div>
        <div class="col-sm-6 col-lg-4" style="background: #f2f2f2">
            <p class="news-category">
                Category
            </p><br>
            <a class="news-title" href="#">
                News’s article goes here and it should be two lines long
            </a><br>
            <p class="news-detail">
                10/5/2502<br>
                Short description about the news, if possible,
                the description would be ideal if it’s around
                3 lines long or at least fit the wrapper like
                this.
            </p>
        </div>
        <div class="col-md-12 col-lg-4" style="background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(images/casual-cute-elegant-428338.jpg) center;">
            <p class="news-category">
                Category
            </p><br>
            <a class="news-title-2" href="#">
                News’s article goes here and it should be two lines long
            </a><br>
            <p class="news-detail-2">
                10/5/2502<br>
                Short description about the news, if possible,
                the description would be ideal if it’s around
                3 lines long or at least fit the wrapper like
                this.
            </p>
        </div>
    </div> <!-- End news-background-1 -->
    <div class="row" id="news-background-2">
        <!-- Start news-background-2 -->
        <div class="col-md-6 col-lg-4" style="background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(images/adult-art-black-t-shirt-1656684.jpg) center;">
            <p class="news-category">
                Category
            </p><br>
            <a class="news-title-2" href="#">
                News’s article goes here and it should be two lines long
            </a><br>
            <p class="news-detail-2">
                10/5/2502<br>
                Short description about the news, if possible,
                the description would be ideal if it’s around
                3 lines long or at least fit the wrapper like
                this.
            </p>
        </div>
        <div class="col-md-6 col-lg-4" style="background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(images/adult-asphalt-black-shirt-2061881.jpg) center;">
            <p class="news-category">
                Category
            </p><br>
            <a class="news-title-2" href="#">
                News’s article goes here and it should be two lines long
            </a><br>
            <p class="news-detail-2">
                10/5/2502<br>
                Short description about the news, if possible,
                the description would be ideal if it’s around
                3 lines long or at least fit the wrapper like
                this.
            </p>
        </div>
        <div class="col-md-12 col-lg-4" style="background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(images/architecture-boy-bridge-1261422.jpg) center;">
            <p class="news-category">
                Category
            </p><br>
            <a class="news-title-2" href="#">
                News’s article goes here and it should be two lines long
            </a><br>
            <p class="news-detail-2">
                10/5/2502<br>
                Short description about the news, if possible,
                the description would be ideal if it’s around
                3 lines long or at least fit the wrapper like
                this.
            </p>
        </div>
    </div> <!-- End news-background-2 -->
</div> <!-- End News container -->
