<div ng-controller="Item_Attribute" style="margin-top:100px">

    <div class="content-wrapper" style="padding-bottom: 80px;">
        <!-- Start content wrapper-->
        <div class="container">
            <!-- Start Container -->
            <div class="row">
                <!-- Start Row -->
                <div class="col-sm-5 detail-content-left">
                    <!-- Start content-left -->
                    <!--<img src="images/3dimage/1.jpg" id="product-image-3d" class="img-fluid" style="margin-bottom:10px;">
    <div id="slider-range-min"></div>-->
                    <button type="button" class="btn btn-primary btn-360" data-toggle="modal" data-target="#imgModal">
                        <img src="~/images/icons/360-icon-1.jpg"  />
                        <img class="img-fluid" src="~/images/3dimage/{{name[0].item.img}}" />
                    </button>

                    <!-- The Modal -->
                    <div class="modal fade" id="imgModal">
                        <div class="modal-dialog modal-full">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Modal Heading</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="img-container">
                                        <div class="img360">
                                            <img id="myImg" class="img-fluid" src="~/images/3dimage/{{name[0].item.img}}" />
                                        </div>
                                    </div>
                                    <div id="preload-imgs"></div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- End content-left-->

                <div class="col-sm-7 detail-content-right">
                    <!-- Start content-right -->

                    <div class="detail-content-right-first">
                        <!-- Start right-first -->
                        <h6>{{name[0].brand_name}}</h6>
                        <h3>{{name[0].item.name}} <i data-toggle="modal" data-target="#followingModal" style="color:#eeeeee" class="fas fa-heart"></i></h3>
                        <div class="modal fade" id="followingModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Following</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="detail-second-left">
                                            <!-- Start second-left -->
                                            <div class="size-wrapper">
                                                <input class="d-none" id="follow" name="follow" type="checkbox" />
                                                <label for="follow" class="size-label">
                                                    <div class="size-left is-following">
                                                        {{name[0].size}}
                                                    </div>
                                                </label>
                                            </div>
                                        </div> <!-- End second-left -->
                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn" style="background-color:#0E5396; color:white">
                                            Confirm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Condition <span>New</span> | Ticker: <span style="color: black;">123abc</span></p>
                        <h5>100% Authentic</h5>
                    </div> <!-- End right-first -->


                    <div class="detail-content-right-second">
                        <!-- Start right-second -->
                        <div class="size">
                            <a style="cursor:pointer" data-toggle="modal" data-target="#sizeModal">Size</a> <span style="color:black">9</span>
                        </div>
                        <div class="modal fade" id="sizeModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Chose Size</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="detail-second-left">
                                            <!-- Start second-left -->
                                            <div class="size-wrapper">
                                                <input class="d-none" id="size" name="size" type="radio" />
                                                <label for="size" class="size-label">
                                                    <div class="size-left">
                                                        {{name[0].size}}
                                                    </div>
                                                    <div class="size-right">
                                                        {{name[0].item.lowest_ask}} VND
                                                    </div>
                                                </label>
                                            </div>
                                        </div> <!-- End second-left -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="detail-second-right" style="display: flex;">
                            <!-- Start second-right -->
                            <div><p>Last Sale <br> <h3>{{name[0].item.trade_min}} VND</h3></p></div>
                            <div><h6>▲+20.000VND(20%)</h6></div>
                        </div> <!-- End second-right -->

                    </div> <!-- End right-second -->

                    <div class="detail-content-right-final">
                        <!-- Start right-final -->
                        <div class="float-right detail-right">
                            <h3 style="color: #0E5396; font-weight: bold;">{{name[0].item.lowest_ask}} VND</h3>
                            <p style="color: black; transform: translateY(-7px)">View All Asks</p>
                        </div>
                        <div class="detail-left">
                            <h3 style=" font-family: coolrg;">Buy</h3>
                            <span style="font-family: coolcond; font-size:20px;">Lowest Asks</span>
                        </div>
                    </div>
                    <div class="detail-content-right-final" style="border:1px solid #ab1113">
                        <div class="float-right detail-right">
                            <h3 style="color: brown; font-weight: bold; ">{{name[0].item.highest_bid}} VND</h3>
                            <p style="color: black; transform: translateY(-7px)">View All Bids</p>
                        </div>
                        <div class="detail-left" style="background-color: #ab1113">
                            <h3 style=" font-family: coolrg;">Sell</h3>
                            <span style="font-family: coolcond;font-size:20px">Highest Bid</span>
                        </div>
                    </div> <!-- End right-final -->

                </div> <!-- End content-right -->

            </div> <!-- End Row -->
        </div> <!-- End Container -->
    </div> <!-- End content wrapper-->



    <div class="jumbotron">
        <!-- Start Jumbotron -->
        <div class="container">
            <!-- Start container -->
            <div class="row">
                <!-- Start Row -->
                <div class="col-sm-4">
                    <h3>DETAIL</h3>
                    <p style="margin-bottom: 0">Style: XXX-XXX</p>
                    <p style="margin-bottom: 0">Colour:Blue</p>
                    <p style="margin-bottom: 0">Retail Price:100.000VND</p>
                    <p style="margin-bottom: 0">Release Date:2019-04-12</p>
                </div>
                <div class="col-sm-8">
                    <h3>DESCRIPTION</h3>
                    <p>{{name[0].item.vi_info}}</p>
                </div>
            </div> <!-- End Row -->
        </div> <!-- End container -->
    </div> <!-- End Jumbotron -->

</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <script src="~/js/image-360.js"></script>
    <script>
        //Items Attribute
        exaxxiApp.controller('Item_Attribute', function ($scope, $http) {
            $http.get("/api/ItemsAPI/TakeAttributeItem/" + @ViewBag.IdItem)
                .then(function (response) { $scope.name = response.data });
        });
    </script>
}