@model Exaxxi.Models.Brands

@{
    ViewData["Title"] = "Details";
}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Chi Tiết</h4>
                    <p class="card-category">Brand</p>
                </div>
                <div class="card-body">
                    <form>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="id" />
                        <div class="form-group">
                            <label asp-for="name" class="bmd-label-floating"></label>
                            <input asp-for="name" class="form-control" disabled />
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="img" class="bmd-label-floating btn btn-primary">
                Chọn Hình
            </label>
            <img src="~/images/brand/@Model.img" height="200" width="100" />
            <input type="file" id="img" name="img">
            <input asp-for="img" class="hidden form-control" />*@

                            <label asp-for="img" class="bmd-label-floating ">
                                Hình
                            </label>
                            <img src="~/images/brand/@Model.img" height="200" width="100" />
                        </div>
                        <div class="form-group">
                            <label asp-for="order" class="bmd-label-floating"></label>
                            <input asp-for="order" class="form-control" disabled />
                            <span asp-validation-for="order" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="department.vi_name" class="bmd-label-floating"></label>
                            <input asp-for="department.vi_name" class="form-control" id="departmentname" disabled>
                            <span asp-validation-for="department.vi_name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="form-check p-0">
                                <label class="form-check-label">
                                    @Html.DisplayNameFor(model => model.active)
                                    <input asp-for="active" class="form-check-input" type="checkbox" disabled>
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Index">Quay Về</a>
                        </div>
                        <a asp-action="Edit" asp-route-id="@Model.id">
                            <button type="button" class="btn btn-primary pull-right">Chỉnh Sửa</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>