@model Exaxxi.Models.Brands

@{
    ViewData["Title"] = "Edit";
}
<div class="row">
    <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Chỉnh Sửa</h4>
                    <p class="card-category">Brand</p>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" asp-controller="Brands" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="id" />
                        <div class="form-group">
                            <label asp-for="name" class="bmd-label-floating"></label>
                            <input asp-for="name" class="form-control" />
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="img" class="bmd-label-floating btn btn-primary">
                Chọn Hình
            </label>
            <img src="~/images/brand/@Model.img" height="200" width="100" />
            <input type="file" id="img" name="img">
            <input asp-for="img" class="hidden form-control" />*@

                            <label asp-for="img" class="bmd-label-floating btn btn-primary">
                                Chose Picture
                            </label>
                            <img src="~/images/brand/@Model.img" height="200" width="100" />
                            <input type="file" id="img" asp-for="img">
                        </div>
                        <div class="form-group">
                            <label asp-for="order" class="bmd-label-floating"></label>
                            <input asp-for="order" class="form-control" />
                            <span asp-validation-for="order" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="id_department" class="bmd-label-floating"></label>
                            <select asp-for="id_department" class="form-control" id="departmentname"></select>
                            <span asp-validation-for="id_department" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="form-check p-0">
                                <label class="form-check-label">
                                    @Html.DisplayNameFor(model => model.active)
                                    <input asp-for="active" class="form-check-input" type="checkbox">
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <a asp-action="Index">Quay Về</a>
                        <button type="submit" class="btn btn-primary pull-right">Cập Nhật</button>
                    </form>
                </div>
            </div>
        </div>
</div>


@section Scripts{
    <script>
            $(function () {

                $.ajax({
                    url: "/api/DepartmentsAPI",
                    method: "GET",
                    success: function (data) {
                        $(data).each(function (index, value) {
                            var idbrand = @Model.id_department;
                            if (idbrand == value.id) {
                                var option = $("<option/>").attr("value", value.id).attr("selected", "selected").html(value.vi_name);


                            } else {
                                var option = $("<option/>").attr("value", value.id).html(value.vi_name);
                            }
                            $("#departmentname").append(option)
                        });
                    }
                });
            });
    </script>
}
