@model IEnumerable<Exaxxi.Models.Brands>

@{
    ViewData["Title"] = "Brands";
}
<div class="row" ng-controller="Brand">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Danh sách Brand</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <label for="singleSelect"> sắp xếp: </label><br>
                <select name="singleSelect" ng-change="change()" id="select" ng-model="confirmed">
                   <option ng-repeat="x in name" value="{{x.id}}">{{x.vi_name}}</option>
                </select>
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Tên thương hiệu
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th>
                                    Thứ tự
                                </th>
                                <th><a asp-action="Create">Thêm</a></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="x in getItem ">
                                <td>
                                    {{x.name}}
                                </td>
                                <td>
                                    {{x.active}}
                                </td>
                                <td>
                                    {{x.order}}
                                </td>
                                <td>
                                    <a href="/Admin/Brands/Edit/{{x.id}}">Edit</a> |
                                    <a href="/Admin/Brands/Details/{{x.id}}">Details</a> |
                                    <a style="cursor: pointer;" id="delete" class="delete" ng-click="Delete(x.id)">Delete</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        app.controller('Brand', function ($scope, $http) {
            $scope.Delete = function (id) {
                var url = '/api/BrandsChange/' + id;
                //  $http.defaults.headers.common.Authorization = 'Bearer ' + sessionStorage.getItem('token');
                var config = {
                    headers: {
                        'Context-Type': 'application/json',
                        'Authorization': 'Bearer ' + sessionStorage.getItem('token')
                    }
                }
                var isConfirm = confirm("bạn có chắc chắn muốn xóa")
                if (isConfirm) {
                    $http.delete(url, config).then(function (response) {
                        window.location.reload();
                    });

                } else {
                    return false;
                }
            }
            $http.get("/api/DepartmentsAPI")
                .then(function (response) { $scope.name = response.data;});
            $http.get("/api/BrandsAPI/GetBrandsAd/" + 1)
                .then(function (response) { $scope.getItem = response.data; });
            $scope.change = function () {
                var x;

                if ($("#select").val() == 1) {
                    x = 1;
                }
                if ($("#select").val() != '') {
                    x = $("#select").val();
                }
                $http.get("/api/BrandsAPI/GetBrandsAd/" + x)
                    .then(function (response) { $scope.getItem = response.data; });
            }
        });
    </script>
}
