@{
    ViewData["Title"] = "Dashboard";
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
}

<h2>Tổng Quan</h2>

<div class="container-fluid" ng-controller="Dash">
    <!-- used space -->
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assessment</i>
                    </div>
                    <p class="card-category">Tổng sản phẩm</p>
                    <h3 class="card-title">
                        {{item_count}}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="/Admin/Items/Index">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">chat_bubble</i>
                    </div>
                    <p class="card-category">Tổng bài đăng</p>
                    <h3 class="card-title">{{post_count}}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="/Admin/Posts/Index">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">inbox</i>
                    </div>
                    <p class="card-category">Đơn hàng mới</p>
                    <h3 class="card-title">{{order_count}}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="/Admin/Orders/Index">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">accessibility</i>
                    </div>
                    <p class="card-category">Users</p>
                    <h3 class="card-title">{{user_count}}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="/Admin/Users/Index">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ?used space -->
    <!-- bugs & employee tasks -->
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Hot:</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#profile" data-toggle="tab">
                                        <i class="material-icons">assistant</i> TOP 10 Sản Phẩm Bán Chạy
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>
                                            STT
                                        </th>
                                        <th>Sản Phẩm</th>
                                        <th class="td-actions text-right">Số Lượng Đã Bán</th>
                                    </tr>
                                    <tr ng-repeat="x in top_item_sold">
                                        <td style="text-align:center">
                                            {{$index + 1}}
                                        </td>
                                        <td>{{x.name}}</td>
                                        <td style="text-align:center">{{x.sold}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">TOP 5</h4>
                    <p class="card-category">Tin Tức Nhiều Lượt Xem Nhất</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th>
                                    STT
                                </th>
                                <th>Tiêu Đề (Vie)</th>
                                <th>Chủng Loại</th>
                                <th class="td-actions text-right">Số Lượt Xem</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in top_new_view">
                                <td style="text-align:center">
                                    {{$index + 1}}
                                </td>
                                <td>{{x.news.vi_title.substr(0,25)}}...</td>
                                <td style="text-align:center">{{x.vi_name_depart}}</td>
                                <td style="text-align:center">{{x.news.view}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /bugs & employee tasks -->
    <!-- user form -->
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Admin Profile</h4>
                    <p class="card-category">This is the detail of your profile</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Username</label>
                                    <input type="text" class="form-control" readonly value="{{admin_info.name}}">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Email address</label>
                                    <input type="email" class="form-control" readonly value="{{admin_info.email}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Phân Quyền</label>
                                    <input type="text" class="form-control" readonly value="{{admin_info.level}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Trạng Thái</label>
                                    <div class="form-group">                                        
                                        <span><i class="fas fa-check" style="color:limegreen"></i> Đang Hoạt Động</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a asp-controller="Login" asp-action="Profile" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetInt32("idAdmin")" class="btn btn-primary pull-right">Thay Đổi Thông Tin</a>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="~/images/admin.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">Welcome</h6>
                    <h4 class="card-title">{{admin_info.name}}</h4>
                    <p class="card-description">
                        Thành công đến từ 90% năng lực và 10% may mắn, chúc {{admin_info.name}} thành công!
                    </p>
                    <a href="javascipt:void()" class="btn btn-outline-dark btn-round">Have a nice day</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /user form -->
</div>

@section Scripts{
    <script>
        app.controller('Dash', function ($scope, $http) {
            $http.get("/api/ItemsAPI/CountItems")
                .then(function (response) { $scope.item_count = response.data; });
            $http.get("/api/PostsAPI/CountPosts")
                .then(function (response) { $scope.post_count = response.data; });
            $http.get("/api/OrdersAPI/CountOrders")
                .then(function (response) { $scope.order_count = response.data; });
            $http.get("/api/UsersAPI/CountUsers")
                .then(function (response) { $scope.user_count = response.data; });
            $http.get("/api/ItemsAPI/TopItemSold")
                .then(function (response) { $scope.top_item_sold = response.data; });
            $http.get("/api/NewsAPI/TopNewsView")
                .then(function (response) { $scope.top_new_view = response.data; });
            $http.get("/api/AdminsAPI/" + @HttpContextAccessor.HttpContext.Session.GetInt32("idAdmin"))
                .then(function (response) { $scope.admin_info = response.data; });
        });
    </script>
}